@page "/"
@page "/products"




@if (_products == null)
{
    <h1>Products</h1>
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <h1 class="col-sm-8">Products</h1>
        <button class="col-sm-2">Add</button>
        <button class="col-sm-2">Refresh</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Notes</th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in _products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Notes</td>
                    <td>
                        <a href="@($"productdetail/{product.Id}")" class="btn btn-primary table-btn">
                            <i class="fas fa-info"></i>
                        </a>
                        <a href="@($"productedit/{product.Id}")" class="btn btn-primary table-btn">
                            <i class="fas fa-edit"></i>
                        </a>
                        <button>
                            <i class="fas fa-trash"></i>
                        </button>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

