@page "/products"

<h1>Products</h1>

<p>List of products</p>

@if (_products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in _products)
            {
            <tr>
                <td>@product.Name</td>
                <td>@product.Notes</td>
                <td>
                    <a href="@($"productdetail/{product.Id}")" class="btn btn-primary table-btn">
                        Detail    
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

