@page "/productdetail/{ProductId}"

<h3>Product Detail</h3>


@if (_product == null)
{
    <p>Loading....</p>
}
else
{
    <p>Name: @_product.Name</p>
    <p>Notes: @_product.Notes</p>

    <a href="/products">
        <i class="fas fa-backward"></i>
        <span aria-hidden="true"></span> Products
    </a>


}


