<style scoped>
    .iconbutton {
        width: 48px !important;
    }
    table {
        outline-style: solid;
        outline-width: 2px;
    }
</style>


@if (SelectableProducts == null)
{
    <h4>Products</h4>
    <p><em> Loading...</em></p>
}

else
{
    <div class="container">
        <div class="row">
            <div class="col-6"> <strong>Name</strong> </div>
            <div class="col-5"> <strong>Department</strong></div>
            <div class="col-1"> <strong>Action</strong></div>
        </div>

        @foreach (var product in SelectableProducts)
        {
            <div class="row" style="border: 1px dotted #040404;">
                <div class="col-6"> @product.Name </div>
                <div class="col-5"> @product.Department </div>
                <div class="col-1"> 
                        <button class="btn btn-primary table-btn iconbutton"
                                @onclick="@(_ => ActionButtonCmd(@product))">
                            <i class=@($"fas {ButtonClass}") />
                        </button>
                    </div>
            </div>
        }
    </div>
}
